<h1>Let's analyze your recipie!</h1>

<form action="/nutrition_facts" method="post">
<label for="recipie">Enter an ingredient list for what you are cooking, like "1 cup rice, 10 oz chickpeas", etc.
Enter each ingredient on a new line.</label>
<div>
  <textarea id= "recipie" type="text" name="user_recipie" placeholder= "1 cup rice&#10;10 oz chickpeas" rows="20" cols="50"></textarea>
</div>

  <button>Analyze</button>
</form>

</form>
